DNAC_URL="https:[DNAC_URL]"
DNAC_USER="[DNAC_USER]"
DNAC_PASS="[DNAC_PASS]"

ELASTIC_URL="http://[ELASTIC_URL]:9200/"
ELASTIC_USER='ELASTIC_USER'
ELASTIC_PASS='ELASTIC_PASS'
ELASTIC_LOCAL="http://[ELASTIC_URL]:5601/"

